/* ============= RESET CSS =============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ccc;
}
/* ============= ZOOM IMAGE CSS =============*/
.zoomer__img {
  width: 500px;
  height: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  margin: 0 100px;
  cursor: none;
}
#mirror {
  width: 250px;
  height: 250px;
  background: url("./img/car-1.jpg");
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.hide {
  display: none;
}
