/* ============= IMPORT FONT GOOGLE =============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ============= RESET CSS =============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
body {
  height: 100vh;
  background: rgb(89, 181, 243);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ============= NUMBER COUNTER CSS =============*/
.number-counter {
  display: flex;
  gap: 40px;
}
.number-counter__item {
  padding: 20px 40px;
  font-size: 40px;
  color: #fff;
  background: rgb(70, 84, 202);
  border-radius: 10px;
  box-shadow: 0 0 30px rgb(0, 0, 0, 0.2);
  text-align: center;
}
.number-counter__title {
  font-size: 18px;
  margin-bottom: 15px;
}
