/* ============= IMPORT FONT GOOGLE =============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* ============= RESET CSS =============*/
:root {
  --primary-color: #189f18;
  --second-color: #fdfcfc;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
/* ============= FILTER BUTTON CSS =============*/
.filter-foods {
  width: 1200px;
  margin: 100px auto;
  border-radius: 20px;
  padding: 50px 80px;
  background: rgb(127, 255, 127);
}
.filter-foods__categories {
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-name {
  padding: 5px 20px;
  margin: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  background: var(--second-color);
  color: var(--primary-color);
  font-size: 20px;
  font-weight: bold;
  border-radius: 25px;
  border: 2px solid var(--primary-color);
  transition: 0.5s;
}
.category-name:hover,
.category-name.active {
  background: var(--primary-color);
  color: var(--second-color);
}
/* ============= FILTER FOOD CSS =============*/
.filter-foods__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.filter-foods__item {
  width: 24%;
  height: 200px;
  margin: 10px 5px;
  border-radius: 25px;
  overflow: hidden;
}
.filter-foods__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.5s all;
}
.filter-foods__img:hover {
  transform: scale(1.6) rotate(90deg);
}
.hide {
  display: none;
}
